body {
    margin: 0;

}

#main-cont {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    margin: 20px auto 20px auto;
    background-color: #1F2937;

}

#heading {
    text-align: start;
    width: 355px;
    height: 80px;
    margin-top: 120px;
    margin-left: 55px;
    margin-bottom: 10px;
    color: white;
    font-family: "Karla", sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
}

#green {
    color: #4ADF86;
}

#textLine {

    text-align: left;
    margin-left: 55px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 200;
}

#genbtn {
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 6px;
    width: 190px;
    height: 40px;
    margin-top: 55px;
    margin-left: 55px;
    margin-bottom: 35px;
    font-family: "Inter", sans-serif;
    font-size: 16px;

}

#line {
    width: 485px;
    border: 1px solid #2F3E53;
    margin: 0 auto 0 auto;
}

#second-part {
    display: flex;
    justify-content: space-around;
    margin: 35px 55px 50px 55px;
}

.pass-div {
    width: 211px;
    height: 40px;
    background-color: #273549;
    color: #55F991;
    font-family: "Inter", sans-serif;
    font-size: 13px;

}

#passOne {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    text-align: center;
    border-radius: 6px;
    border: none;


}

#passTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    border: none;


}

#range-div {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-left: 55px;
    margin-bottom: 20px;

}

#range-value {
    margin-left: 10px;
    color: #10B981;
    font-size: 15px;

}

#range {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 10px;
    border-radius: 30px;
    background-color: #10B981;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

#pass-text {
    margin-right: 20px;
}

#box-div {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-left: 55px;
}

#text-box {
    margin-right: 20px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background-color: #2F3E53;
    border-radius: 1px;
}

input[type="checkbox"]:checked {
    background-color: #10B981;
}

label {
    font-size: 15px;
    font-family: "Inter", sans-serif;
}